header{background-color: #9932CC;color: black;}
body{background-color: #BA55D3;}

.foto1{width: 15%;}
.foto2{width: 15%;}
.foto3{width: 15%;}
.foto4{width: 15%;}
.foto5{width: 15%;}
.foto6{width: 15%;}
.foto7{width: 15%;}
.foto8{width: 15%;}
.foto9{width: 15%;}
.foto10{width: 15%;}
.foto11{width: 15%;}