/* Estilos comuns para todas as telas */
 {screen and (device-width: 390px) and (device-height: 844px){*}
        margin: 0;
        padding: 0;}

        .cabeçalho {
            background-color: #F08080(45, 52, 75);
            color:red;
            display: flex;
            justify-content: space-around;
            padding: 15px 0;
            font-family: 'Ubuntu', sans-serif;
            position: fixed;
            top: 0;
            width: 100%;





