header{background-color: #F08080; color:red} 
.logo{width: 10%;} 
.Alanis{width: 20%;
border-radius: 20px;}
.Ana{width: 20%;
border-radius: 20px;}
.Michelly{width: 20%;
border-radius: 20px;}
.Sophia{width: 20%;
border-radius: 20px;}
body{background-color: #ffcbdb;color: red;}
footer{background-color: #F08080; color: red;.logonova{width: 5%;}}
